* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px 20px;
}

li {
  list-style-type: none;
  font-size: .8rem;
}

.error {
  color: red;
}

.line-error {
  font-size: .6rem;
}

.input-container {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.image-btn {
  height: 50%;
  display: flex;
  align-items: center;
}

img {
  height: 100%
}